@import "~@navikt/ds-css";

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

pre {
  overflow: scroll;
  width: 100%;
  max-width: fit-content;
  font-size: 0.8rem;
}

ol, ul {
  padding-left: 18px;
}

.env-list {
  list-style: none;
  font-family: monospace;
  font-size: 0.8rem;
}